 name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3

      # Generate Snake animation SVG directly in repo root
      - uses: Platane/snk@v3
        with:
          github_user_name: HomayraHeme
          github_token: ${{ secrets.GITHUB_TOKEN }}
          outputs: github-contribution-grid-snake.svg

      # Commit & push SVG
      - name: Commit Snake SVG
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add github-contribution-grid-snake.svg
          git commit -m "Update Snake Animation" || echo "No changes to commit"
          git push
